
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Aaron Machin">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<div class="mainGamePageOuter">
            <div class="cardImg">
                {{#if game.pictures}}
                    {{#each game.pictures}}
                        <img class="cardImgInner" src="{{this}}">
                    {{/each}}
                {{else}}
                    <p>No pictures found</p>
                {{/if}}
                
                {{#if admin}}
                        <table class="adminPanel">
                            <tr>
                                <th>Add a game picture
                                </th>
                                <th>
                                    Delete
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <form action="addGamePhoto" method="POST" enctype="multipart/form-data">
                                        <input type="text" name="gameID" value="{{game.ID}}" style="display:none">
                                        <input type="file" name="pic1"> <br> 
                                        <button type="submit">SUBMIT</button> 
                                    </form>
                                </th>
                                <th>
                                    <form action="deleteGame" method="POST">
                                     <input type="text" name="gameID" value="{{game.ID}}" style="display:none">
                                        <input type="checkbox" name="delete" value="true"><br> 
                                        <button type="submit">SUBMIT</button> 
                                    </form>
                                </th>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    
                                    
                                </th>
                            </tr>
                            
                        </table>
                    </form>
                {{/if}}
            </div>
            <div class="card">
                {{#if game.publishers}}
                <p>Publishers</p>
                    <div class="bubbles">
                    {{#each game.publishers}}
                        <div class="bubble_long">
                            <div class="bubble_longInner">
                                {{this.name}}
                            </div>
                            {{#if @root.admin}}
                            <form action="/removePublisherFromGame" method="POST" class="actionForm">
                                <input type="text" name="gameID" value="{{@root.game.ID}}" style="display:none">
                                <input type="text" name="publisherID" value="{{this.publisherID}}" style="display:none">
                                <button type="submit" class="bubbleAction">X</button>  
                            </form>
                            {{/if}}
                        </div>
                    
                    {{/each}}
                    </div>
                {{/if}}
                
                {{#if game.otherPublishers}}
                    {{#if @root.admin}}
                    <form action="addPublisherToGame" method="POST">
                        <br>
                        <p></p>
                        <select name="publisher">
                            {{#each game.otherPublishers}}
                                <option value="{{this.ID}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                        <input type="text" name="gameID" value="{{game.ID}}" style="display:none">
                        
                        <button type="submit" class="">
                            Add publisher
                        </button>
                    </form>
                    {{/if}}
                {{/if}}
                <h2>{{game.title}}</h2>
                <p>{{game.summary}}</p>
                
                <p>{{game.desc}}</p>
                <p>Average rating: {{averageRating}} / 5</p>
                {{#if game.category}}
                    <div class="bubbles">
                    {{#each game.category}}
                        <div class="bubble_long">
                            <div class="bubble_longInner">
                                {{this.title}}
                            </div>
                            {{#if @root.admin}}
                            <form action="/removeCategoryFromGame" method="POST" class="actionForm">
                                <input type="text" name="gameID" value="{{@root.game.ID}}" style="display:none">
                                <input type="text" name="categoryID" value="{{this.categoryID}}" style="display:none">
                                <button type="submit" class="bubbleAction">X</button>  
                            </form>
                            {{/if}}
                        </div>
                    
                    {{/each}}
                    </div>
                {{/if}}
                
                {{#if game.otherCategories}}
                    {{#if @root.admin}}
                    <form action="addCategoryToGame" method="POST">
                        <br>
                        <p></p>
                        <select name="category">
                            {{#each game.otherCategories}}
                                <option value="{{this.ID}}">{{this.title}}</option>
                            {{/each}}
                        </select>
                        <input type="text" name="gameID" value="{{game.ID}}" style="display:none">
                        
                        <button type="submit" class="">
                            Add category
                        </button>
                    </form>
                    {{/if}}
                {{/if}}
                <hr>
            </div>
            
            <div class="content">
                {{#if userReview}}
                <form action="/updateReview" method="post" id="review"> 
                    <h4>Your review</h4>
                    {{#if_eq userReview.flag 0}}
                        <p>Your review is being checked</p>
                    {{/if_eq}}
                    <textarea rows="4" cols="50" name="fullText" form="review" placeholder="Write your review">{{userReview.fullText}}</textarea>
                    <br>
                    <div class="rating">
                        Rating<br>
                        {{#each ratingsReview}}
                        <label>
                            <input type="radio" name="rating" value="{{this.value}}"
                                {{#if_eq this.value @root.userReview.rating}} checked="checked" {{/if_eq}}
                            > {{this.value}}
                        </label>
                        {{/each}}
                        <br>
                        <input type="text" name="gameID" value="{{game.ID}}" style="display:none">

                    </div>  
                    <br>
                    <button type="submit" class="">
                        UPDATE REVIEW
                    </button>


                </form>
                {{#if @root.admin}}
                    <form action="/reviewAdminUpdate" method="POST">

                        <table class="adminPanel">
                            <tr>
                                <th>Published
                                    {{#if userReview.flag}}
                                        (true)
                                    {{else}}
                                        (false)
                                    {{/if}}
                                </th>
                                <th>Delete?</th>
                            </tr>
                            <tr>
                                <th>
                                    <input type="checkbox" name="flag" value="true"
                                    {{#if userReview.flag}}
                                        checked="checked"
                                    {{/if}}>
                                </th>
                                <th>
                                    <input type="text" name="gameID" value="{{@root.game.ID}}" style="display:none">
                                    <input type="text" name="reviewID" value="{{userReview.ID}}" style="display:none">
                                    <input type="checkbox" name="delete" value="true">
                                    
                                </th>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    
                                    <button type="submit">SUBMIT</button>
                                </th>
                            </tr>
                            
                        </table>
                    </form>
                {{/if}}
                {{else}}
                <form action="/addReview" method="post" id="review"> 
                    <h4>Your review</h4>
                    <textarea rows="4" cols="50" name="fullText" form="review" placeholder="Write your review"></textarea>
                    <br>
                    <div class="rating">
                        Rating<br>
                        {{#each ratingsReview}}
                        <label>
                            <input type="radio" name="rating" value="{{this.value}}"
                                {{#if_eq this.value 1}} checked="checked" {{/if_eq}}> {{this.value}}
                        </label>
                        {{/each}}
                        <br>
                        <input type="text" name="gameID" value="{{game.ID}}" style="display:none">

                    </div>  
                    <br>
                    <button type="submit" class="">
                        SUBMIT REVIEW
                    </button>


                </form>
                {{/if}}
                
                
                <hr>

                

                {{#if allReview}}
                {{#each allReview}}
                    {{#if_EqOREq @root.admin this.flag 1}}
                        
                    
                    <div class="reviewCard">
                        <div class="reviewCardInner">
                            <div class="images">

                            </div>
                            <p>User: {{this.userID}}</p>
                            <p>Rating: {{this.rating}}</p>
                            <p>Review: {{this.fullText}}</p>
                            
                            {{#if @root.admin}}
                                <form action="/reviewAdminUpdate" method="POST">

                                    <table class="adminPanel">
                                        <tr>
                                            <th>Published
                                                {{#if this.flag}}
                                                    (true)
                                                {{else}}
                                                    (false)
                                                {{/if}}
                                            </th>
                                            <th>Delete?</th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <input type="checkbox" name="flag" value="true"
                                                {{#if this.flag}}
                                                    checked="checked"
                                                {{/if}}>
                                            </th>
                                            <th>
                                                <input type="text" name="gameID" value="{{@root.game.ID}}" style="display:none">
                                                <input type="text" name="reviewID" value="{{this.ID}}" style="display:none">
                                                <input type="checkbox" name="delete" value="true">
                                                
                                            </th>
                                        </tr>
                                        <tr>
                                            <th colspan="2">
                                                
                                                <button type="submit">SUBMIT</button>
                                            </th>
                                        </tr>
                                        
                                    </table>
                                </form>
                            {{/if}}
                        </div>
                    </div>
                    {{/if_EqOREq}}
                {{/each}}
                
                {{/if}}
            </div>
            
            
        </div>
        
		
        <div class="optionsContainer">
            <div class="optionsOuter">
                <div class="options">
                        
                    <a href="/">
                    <div class="card">
                        
                        <h2>Back home</h2>
                        
                    </div>
                    </a>
                </div>
            </div>
            <div class="optionsOuter">
                <div class="options">
                        
                    <a href="/logout">
                    <div class="card">
                        
                        <h2>Logout</h2>
                        
                    </div>
                    </a>
                </div>
            </div>
        </div>
		<p>{{message}}</p>
		
</html>
