
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="The main page of Game Reviews">
		<meta name="author" content="Aaron Machin">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>Home</h1>
		<div class="cards">
			{{#if categories}}
				
				<form action="/categorySearch" method="GET">
					<br>
					<p></p>
					<select name="category">
						<option value="">Select a category</option>
						{{#each categories}}
							<option value="{{this.ID}}"
							{{#if_eq this.ID @root.selectedCat}}
							selected="selected"
							{{/if_eq}}>{{this.title}}</option>
						{{/each}}
					</select>
					<button type="submit">
						Sort by Category
					</button>
				</form>
				
			{{/if}}
			{{#if publishers}}
				
				<form action="/publisherSearch" method="GET">
					<br>
					<p></p>
					<select name="publisher">
						<option value="">Select a publisher</option>
						{{#each publishers}}
							<option value="{{this.ID}}"
							{{#if_eq this.ID @root.selectedPub}}
							selected="selected"
							{{/if_eq}}>{{this.name}}</option>
						{{/each}}
					</select>
					<button type="submit">
						Sort by Publisher
					</button>
				</form>
				
			{{/if}}

			<form action="/gameSearch" method="GET">
				<br>
				<p></p>
				<input type="text" name="gameSearch" placeholder="Search a game..." value="{{@root.search}}">
				<button type="submit" id="submitSearch">
					Search
				</button>
			</form>
			<div id="games">
			{{#each games}}
				<div class="cardOuter" id="game{{this.ID}}">
					<a href="/game?gameID={{this.ID}}">
					<div class="cardImg">
						{{#if this.pictures}}
							<img class="cardImgInner" src="{{this.pictures.[0]}}">
						{{else}}
							<p style="text-align: center;">No pictures found</p>
						{{/if}}
					</div>
					
					<div class="card">
						{{#if this.publishers}}
						<p>Publishers</p>
						<div class="bubbles">
							{{#each this.publishers}}
								<div class="bubble_long">
									<div class="bubble_longInner">
										{{this.name}}
									</div>
								</div>
							
							{{/each}}
						</div>
						{{/if}}
						<h2 id="gameTitle{{this.ID}}">{{this.title}}</h2>
						<p>{{this.summary}}</p>
						<p>Rating: {{this.avgRating}} / 5</p>

						
							<div class="bubbles">
							{{#each this.category}}
								<div class="bubble_long">
									<div class="bubble_longInner">
										{{this.title}}
									</div>
								</div>
							
							{{/each}}
							</div>
						
					</div>
					</a>
				</div>
				
			{{/each}}
			</div>

			<br>
			<div class="optionsContainer">
				<div class="optionsOuter">
					
					<div class="options">
							
						<a href="/newGame/">
						<div class="card">
							
							<h2>Add a new game</h2>
							
						</div>
						</a>
					</div>
					
				</div>
				{{#if @root.admin}}
				<div class="optionsOuter">
					
					<div class="options">
							
						<a href="/newPublisher/">
						<div class="card">
							
							<h2>Add a new publisher</h2>
							
						</div>
						</a>
					</div>
					
				</div>
				{{/if}}
				
				<div class="optionsOuter">
					<div class="options">
							
						<a href="/logout">
						<div class="card">
							
							<h2>Logout</h2>
							
						</div>
						</a>
					</div>
				</div>
			</div>
		</div>

		<p>{{message}}</p>
		
</html>
