
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="The main page of Game Reviews">
		<meta name="author" content="Aaron Machin">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		
		<div class="cards">
			{{#each games}}
				<div class="cardOuter">
					<a href="/game?gameID={{this.ID}}">
					<div class="cardImg">
						{{#if this.pictures}}
							<img class="cardImgInner" src="{{this.pictures.[0]}}">
						{{else}}
							<p style="text-align: center;">No pictures found</p>
						{{/if}}
					</div>
					
					<div class="card">
						
						<h2>{{this.title}}</h2>
						<p>{{this.summary}}</p>
						<p>Rating: {{this.avgRating}} / 5</p>

						
							<div class="bubbles">
							{{#each this.category}}
								<div class="bubble_long">
									<div class="bubble_longInner">
										{{this.title}}
									</div>
								</div>
							
							{{/each}}
							</div>
						
					</div>
					</a>
				</div>
				
			{{/each}}
			<br>
			<div class="optionsContainer">
			<div class="optionsOuter">
				
				<div class="options">
						
					<a href="/newGame/">
					<div class="card">
						
						<h2>Add a new game</h2>
						
					</div>
					</a>
				</div>
				
			</div>
			
			<div class="optionsOuter">
				<div class="options">
						
					<a href="/logout">
					<div class="card">
						
						<h2>Logout</h2>
						
					</div>
					</a>
				</div>
			</div>
		</div>
		</div>

		<p>{{message}}</p>
		
</html>
