
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="The main page of Game Reviews">
		<meta name="author" content="Aaron Machin">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>Home</h1>
		<p>This is a secure page. Users need to have a valid account and be logged in to see it.</p>
		<p><a href="/logout">log out</a></p>
		<div class="cards">
			{{#each games}}
				<div class="cardOuter" onclick="window.location.href='game?gameID={{this.ID}}'">
					<div class="cardImg">
						{{#if this.pictures}}
							<img class="cardImgInner" src="{{this.pictures.[0]}}">
						{{else}}
							<p>No pictures found</p>
						{{/if}}
					</div>
					
					<div class="card">
						
						<h2>{{this.title}}</h2>
						<p>{{this.summary}}</p>

						
							<div class="bubbles">
							{{#each this.category}}
								<div class="bubble_long">
									<div class="bubble_longInner">
										{{this.title}}
									</div>
								</div>
							
							{{/each}}
							</div>
						
					</div>
				</div>
			{{/each}}
		</div>

		<p>{{message}}</p>
		
</html>
